
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">The Erick Amaya</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
        <!-- <i class="fas fa-music"></i> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Music</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://hnyrecords.com/">Honey Collective</a>
                <a class="dropdown-item" href="/media">Other Stuff</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/book">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>
    

<router-outlet ></router-outlet>

  <!-- Contact Section -->
  <section class="contact-section bg-black">

    <div class="social d-flex justify-content-center">
      <a href="https://twitter.com/erickcamaya" class="mx-2">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/erick.amaya.509" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/erickcamaya/" class="mx-2">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    Copyright &copy; The Erick Amaya 2020
</footer>
  